body{
    font-size: 25px;
}
h3{
    text-align: center;
    margin: 50px 50px;
}
.box{
    background-color: gray;
    position: relative;
    border: 2px solid black;
}
.chicken{
    font-weight: bold;
    position: absolute;
    top:0px;
    right:0px;
    width:100px;
    background-color: pink;
    padding: 5px;
    text-align: center;
    border:2px solid black
    
}
.text{
    margin-top: 50px;
}
.b{
    background-color: brown;
}
.s{
    background-color: yellow;
}
